@font-face{
    font-family: "comfortaa-bold";
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}

@font-face{
    font-family: "comfortaa-regular";
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face{
    font-family: "montserrat-bold";
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face{
    font-family: "montserrat-regular";
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: "roboto-medium";
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face{
    font-family: "roboto-regular";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}